* {
	margin: 0;
	background-color: #F5F5F5;
	text-align: center;
	box-sizing: border-box;
}

.title {
	margin: 10px auto 40px;
	font-size: 64px;
}

.recipes {
	display: block;
	font-size: 32px;
}

.recipe-img {
	width: 800px;
	height: 500px;
	border-radius: 10%;
}

.recipes.credits {
	font-size: 16px;
}

.recipes.text {
	margin: 0 80px;
	border-radius: 5%;
}

.text {
	padding: 8px;
	background-color: #B9F8CF;
}

#lasagna,
#cookies,
#fried-chicken {
	padding: 16px;
	margin: 64px;
}
