* {
	margin: 0;
	background-color: #90A1B9;
	text-align: center;
	box-sizing: border-box;
}

.title {
	margin: 10px auto 40px;
	font-size: 64px;
}

.recipes {
	display: block;
	font-size: 32px;
}

.recipe-img {
	width: 100%;
	height: 600px;
}

.recipes.credits {
	font-size: 16px;
	background-color: #FFD230;
}

.recipes.text {
	margin: 0 80px;
	padding: 8px 150px;
	background-color: #FFD230;
}

.text {
	background-color: #FFD230;
}

#lasagna,
#cookies,
#fried-chicken {
	margin: 64px;
	border: 5px solid black;
	background-color: #FFD230;
}
